<!DOCTYPE html>
<html ng-app="BABikeShare">
<head lang="en">
    <meta charset="UTF-8">
    <title>Bay Area Bike share</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/wwwroot/CSS/bootstrap.min.css"/>
</head>
<body>
    <div ng-controller="stationController">
        <table>
           <tr ng-repeat="station in stations" ng-show="listView" ng-click="doDetailView(station)">
               <td>{{station.stationName}}</td>
               <td>{{station.availableBikes}}</td>
               <td>/ {{station.availableDocks}}</td>
               <td>{{station.distance}}</td>
           </tr>
        </table>

        <div ng-show="detailView">
            <h2>{{selectedStation.stationName}}</h2>
            <a href="{{mapLink}}"><img src="{{mapDetail}}"/></a>
            <section>{{selectedStation.availableBikes}} available bikes</section>
            <section>{{selectedStation.availableDocks}} available docks</section>

            <button ng-click="doListView()">Back to list</button>
        </div>
    </div>
    <script src="/wwwroot/JS/angular.min.js"></script>
    <script src="/wwwroot/JS/bikeShare.js"></script>
</body>
</html>