<!DOCTYPE html>
<html ng-app="BABikeShare">
<head lang="en">
    <meta charset="UTF-8">
    <title>Bay Area Bike share</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="/wwwroot/CSS/bootstrap.min.css"/>
    <link rel="stylesheet" href="/wwwroot/CSS/BABikeShare.css"/>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <p class="navbar-text">Bay Area Bike Share</p>
</nav>
    <div ng-controller="stationController">
        <div ng-show="listView">
           <div ng-repeat="station in stations" ng-click="doDetailView(station)" class="listRow">

               <div class="right">
                  <span class="highlight">{{station.availableBikes}}</span> / {{station.availableDocks}}
               </div>
                    <h5>{{station.stationName}}</h5>
                    {{station.distance}}



           </div>
        </div>
        <div ng-show="detailView">
            <h4>{{selectedStation.stationName}}</h4>

            <div id="mapHolder">
                <a href="{{mapLink}}"><img id="mapImg" src="{{mapDetail}}"/></a>
            </div>

            <div id="stationDetails">
                <section><span class="highlight">{{selectedStation.availableBikes}}</span> available bikes</section>
                <section>{{selectedStation.availableDocks}} available docks</section>
            </div>

            <div class="btnBack" ng-click="doListView()">
                <p><i class="glyphicon glyphicon-arrow-left"></i> Back to list</p>
            </div>
        </div>
    </div>
    <script src="/wwwroot/JS/angular.min.js"></script>
    <script src="/wwwroot/JS/bikeShare.js"></script>
</body>
</html>